# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Envs
.env
.env.*
server/.env
client/.env

# Builds
dist/
build/
.out/
.vite/
.next/

# Uploads/local
uploads/
tmp/
cache/

# IDE/Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Yarn
.yarn/*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/releases
.yarn/plugins
