#root {
    width: 100%;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: #f4f4f4;
}

.forgot-password-background {
    width: 80vw !important; /* Ocupa todo el ancho de la pantalla */
    height: 75vh !important;
    border-radius: 30px !important;
    overflow: hidden !important;
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-image: url("../assets/edificio-forgotPass.jpg") !important;
    background-size: cover !important;
    background-position: center center !important; /* FORZA el centrado */
    background-repeat: no-repeat !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
    margin: auto !important;
    top: 40px !important; /* Ajusta la posición vertical de la imagen */
}



.forgot-password-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    z-index: 1;
    position: absolute; /* Posiciona el formulario sobre la imagen */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el formulario */
}

.reset-password-instructions {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
}

.forgot-password-form h2 {
    color: #333;
    margin: 30px ;
}

.forgot-password-form h3 {
    margin-bottom: 20px;
    color: #333;
    text-align: start;
}

.forgot-password-form input {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #444;
    font-size: 16px;
}

.forgot-password-form button {
    width: 90%;
    padding: 12px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password-form button:hover {
    background-color: #4c51bf;
}

.message {
    margin-top: 20px;
    color: #27ae60;
    font-weight: bold;
}

.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto; /* Asegura que el footer esté abajo */
}