/* Contenedor principal */
.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* Imagen de fondo */
.perfil-background {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 30px;
}

/* Caja de perfil */
.perfil-box {
    background: rgba(255, 255, 255, 1);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 90%;
    z-index: 1;
}

/* Título */
.perfil-box h2 {
    font-size: 26px;
    margin-bottom: 1px;
    color: #333;
}

/* Estilos del formulario */
.perfil-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.perfil-form label {
    font-weight: bold;
    text-align: left;
    display: block;
    color: #555;
    width: 100%;
}

.perfil-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: #333;
}

/* Botón de enviar */
.perfil-form button {
    width: 50%;
    padding: 14px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    display: block;
    margin: 10px auto;
}

.perfil-form button:hover {
    background-color: #4c51bf;
}

/* Botón de regresar */
.perfil-back-button {
    margin-top: 10px;
    padding: 12px;
    background-color: #17202a;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.perfil-back-button:hover {
    background-color: #b0b0b0;
}

/* Mensajes */
.perfil-message {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}

.perfil-error {
    color: red;
}
